@using Galaxy.Storage.Models

@{

    Layout = "~/Views/Shared/Layout.cshtml";
    var product = ViewData["EditProduct"] as Product;
}

<div class="content">
    <div class="container">
        <div class="page">
            <div class="page__body">
                <div class="page__column">
                    <div class="page__menu">
                        <div class="page__menu-list">
                            <a href=@Url.Action("Index", "Home")>Главная</a>
                            <a href=@Url.Action("Products", "Products")>Каталог</a>
                            <a href=@Url.Action("AboutUs", "AboutUs")>О нас</a>
                            <a href=@Url.Action("Contacts", "Contacts")>Контакты</a>
                        </div>
                    </div>
                    <div class="about-us__pages">
                        <div class="about-us__title">
                            <h1>«Галактика AMM»</h1>
                        </div>
                        <div class="page__info-text">
                            <div class="page__info-text-p">
                                <p>Система «Галактика AMM» (Advanced Manufacturing Management) – инструмент развития организационного управления современным производственным предприятием в рамках цифровой трансформации промышленности. В «Галактика АММ» используется современный подход к управлению и организации производства на предприятии. </p>
                                <p>«Галактика AMM» повышает эффективность планирования и управления производством, обеспечивает оперативный мониторинг производственных подразделений, кооперационных поставок и материально-технического обеспечения.</p>
                                <p>
                                    Большой опыт реализации проектов внедрения автоматизированных систем управления производством на отечественных предприятиях
                                    Простота внедрения системы и настройки под конкретные задачи
                                    Возможность быстрого запуска системы на предприятии в условиях отсутствия полного объема требуемой НСИ, технологических данных и нормативов. <br>
                                    Быстрая интеграция с любыми внешними системами (CAD, PDM, PLM, ERP) и работа в текущей ИТ-структуре предприятия
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__amm-bag" id="obor">
        <div class="container">
            <div class="products__title"><h1>Сверхбыстрый APS-алгоритм планировани</h1></div>
            <div class="products__flex">
                <div class="products__colums">
                    <div class="products__h3"></div>
                    <div class="products__info-list">
                        <ul>
                            <li>Синхронное планирование и контроль работ по всему жизненному циклу изделия</li>
                            <li>Встроенные механизмы, поддерживающие современные методы управления проектами</li>
                            <li>Реализация управления производством как внутренними цепями производственных и поставочных работ (SCM)</li>
                        </ul>
                    </div>
                </div>
                <div class="products__colums">
                    <div class="products__h3"></div>
                    <div class="products__info-list">
                        <ul>
                            <li>Реализация процессного подхода к управлению основным и обеспечивающим производством</li>
                            <li>Обеспечение анализа эффективности бизнес-процессов</li>
                            <li>Встроенные механизмы многомерного анализа данных</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="page">
            <div class="about-us__pages">
                <div class="about-us__title-dop">
                    <h1>Функциональные возможности</h1>
                </div>
                <div class="industies__list">
                    <!-- <h2>Продукты корпорации «Галактика» решают широкий круг задач в нефтегазовой сфере:</h2> -->
                    <ul>
                        <li>• Заказы</li>
                        <li>• Производство</li>
                        <li>• Планирование и МТО</li>
                        <li>• Цеховые графики </li>
                        <li>• Поставки</li>
                        <li>• состояние заказов</li>
                        <li>• Управление МЗК</li>
                    </ul>
                </div>
                @if (Context.Request.Cookies.ContainsKey("auth_cookie"))
                {
                    <div class="products__info-to-order">
                        Цена: @product.Price руб
                    </div>
                    <div class="add-to_cart-flex">
                        <button class="add-to_cart" onclick="addToCart(@product.IsnNode)">Добавить в корзину</button>
                    </div>
                }
                else
                {
                    <div class="products__info-to-order">
                        Для покупки необходимо зарегистрироваться
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>
        </div>