@using Galaxy.Storage.Models

@{

    Layout = "~/Views/Shared/Layout.cshtml";
    var product = ViewData["EditProduct"] as Product;
}

<div class="content">
    <div class="container">
        <div class="page">
            <div class="page__body">
                <div class="page__column">
                    <div class="page__menu">
                        <div class="page__menu-list">
                            <a href=@Url.Action("Index", "Home")>Главная</a>
                            <a href=@Url.Action("Products", "Products")>Каталог</a>
                            <a href=@Url.Action("AboutUs", "AboutUs")>О нас</a>
                            <a href=@Url.Action("Contacts", "Contacts")>Контакты</a>
                        </div>
                    </div>
                    <div class="about-us__pages">
                        <div class="about-us__title">
                            <h1>«Галактика Business Intelligence»</h1>
                        </div>
                        <div class="page__info-text">
                            <div class="page__info-text-p">
                                <p>Комплекс приложений, позволяющих максимально полно использовать имеющиеся на предприятии системы управления с целью достижения качественных изменений в повышении эффективности бизнес-процессов в различных сферах деятельности компании. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__bi-bag" id="obor">
        <div class="container">
            <div class="products__title"><h1>Почему «Галактика Business Intelligence»</h1></div>
            <div class="products__flex">
                <div class="products__colums">
                    <div class="products__h3">Эффекты и выгоды </div>
                    <div class="products__info-list">
                        <ul>
                            <li>Уверенность в принятии решений за счет точной и прозрачной отчетности</li>
                            <li>Перераспределение нагрузки в информационной инфраструктуре компании, таким образом, увеличивая скорость работы ERP-системы и других приложений</li>
                            <li>Возможность выявлять лидеров среди руководителей и менеджеров, эффективно использовать их знания и опыт</li>
                            <li>Поддержка современных методологий управления, развитие новых стратегий и тактик</li>
                            <li>Оперативность и достоверность информации, сокращение временных затрат</li>
                            <li>Объединение ресурсов, наличие единого достоверного источника данных о деятельности компании</li>
                        </ul>
                    </div>
                </div>
                <div class="products__colums">
                    <div class="products__h3">Ключевые особенности </div>
                    <div class="products__info-list">
                        <ul>
                            <li>Уверенность в принятии решений за счет точной и прозрачной отчетности</li>
                            <li>Перераспределение нагрузки в информационной инфраструктуре компании, таким образом, увеличивая скорость работы ERP-системы и других приложений</li>
                            <li>Возможность выявлять лидеров среди руководителей и менеджеров, эффективно использовать их знания и опыт</li>
                            <li>Поддержка современных методологий управления, развитие новых стратегий и тактик</li>
                            <li>Оперативность и достоверность информации, сокращение временных затрат</li>
                            <li>Объединение ресурсов, наличие единого достоверного источника данных о деятельности компании</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="page">
            <div class="about-us__pages">
                <div class="about-us__title-dop">
                    <h1>Функциональные возможности</h1>
                </div>
                <div class="industies__list">
                    <!-- <h2>Продукты корпорации «Галактика» решают широкий круг задач в нефтегазовой сфере:</h2> -->
                    <ul>
                        <li>• Мониторинг и анализ продаж и закупок всех типов, включая регламенты исполнения обязательств</li>
                        <li>• Анализ запасов всех типов, остатков и движения, включая мониторинг KPI</li>
                        <li>• Мониторинг и анализ дебиторской и кредиторской задолженностей, включая сроки возникновения</li>
                        <li>• Мониторинг и анализ состояния и развития кадровых ресурсов компании</li>
                        <li>• Анализ сальдо и оборотов по счетам бухгалтерского учета, включая аналитический учет</li>
                    </ul>
                </div>
                @if (Context.Request.Cookies.ContainsKey("auth_cookie"))
                {
                    <div class="products__info-to-order">
                        Цена: @product.Price руб
                    </div>
                    <div class="add-to_cart-flex">
                        <button class="add-to_cart" onclick="addToCart(@product.IsnNode)">Добавить в корзину</button>
                    </div>
                }
                else
                {
                    <div class="products__info-to-order">
                        Для покупки необходимо зарегистрироваться
                    </div>
                }
            </div>
        </div>
    </div>
</div>
        </div>