@using Galaxy.Storage.Models

@{

    Layout = "~/Views/Shared/Layout.cshtml";
    var product = ViewData["EditProduct"] as Product;
}

<div class="content">
    <div class="container">
        <div class="page">
            <div class="page__body">
                <div class="page__column">
                    <div class="page__menu">
                        <div class="page__menu-list">
                            <a href=@Url.Action("Index", "Home")>Главная</a>
                            <a href=@Url.Action("Products", "Products")>Каталог</a>
                            <a href=@Url.Action("AboutUs", "AboutUs")>О нас</a>
                            <a href=@Url.Action("Contacts", "Contacts")>Контакты</a>
                        </div>
                    </div>
                    <div class="about-us__pages">
                        <div class="about-us__title">
                            <h1>«Галактика EAM»</h1>
                        </div>
                        <div class="page__info-text">
                            <div class="page__info-text-p">
                                <p>Сокращайте затраты на техническое обслуживание и ремонт, повышайте доступность активов. </p>
                                <p>«Галактика ЕАМ» — российская комплексная информационная система управления производственными активами на всем жизненном цикле.</p>
                                <p>
                                    Повышает эффективность использования активов
                                    Снижает стоимость владения производственных активов
                                    Управляет всеми типами активов предприятия
                                    Контролирует техническое состояние оборудования
                                    Выявляет наиболее критические объекты и снижает риски отказов
                                </p>
                                <p>
                                    Определяет оптимальные воздействия для обеспечения требуемого уровня надежности
                                    Сокращает внеплановые работы и простои оборудования
                                    Балансирует материальные и трудовые ресурсы
                                    Оптимизирует затраты на содержание и потери от отказов
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__eam-bag" id="obor">
        <div class="container">
            <div class="products__title"><h1>«Галактика EAM»</h1></div>
            <div class="products__flex">
                <div class="products__colums">
                    <div class="products__h3">Преимущества</div>
                    <div class="products__info-list">
                        <ul>
                            <li>Отечественная система, включенная в реестр Минкомсвязи России</li>
                            <li>Основана на лучших методиках стратегического подхода к управлению надёжностью промышленных активов</li>
                            <li>Широкие функциональные возможности соответствуют типовым процессам в области технического обслуживания и ремонтов</li>
                            <li>Поддержка множества СУБД (включая СУБД PostgreSQL (Postgres Pro), глубокая и бесшовная интеграция с используемой на предприятии ERP-платформой, а также системами АСУТП, диагностирования, мобильными устройствами и приложениями</li>
                            <li>Современная платформа - процессное управление, средства анализа OLAP, карты показателей KPI, рассылка сообщений, сценарии согласований, версионность документов, настройка рабочих мест</li>
                            <li>Централизованная или распределенная архитектура, использование мобильного или web-клиента</li>
                        </ul>
                    </div>
                </div>
                <div class="products__colums">
                    <div class="products__h3">Эффекты от внедрения</div>
                    <div class="products__info-list">
                        <ul>
                            <li>Снижение числа аварийных и внеплановых работ, приоритетный ремонт критических объектов, контроль регламентов</li>
                            <li>Снижение затрат на содержание и обслуживание оборудования, сокращение запасов материалов на складах, сокращение времени выполнения ТОиР</li>
                            <li>Повышение эффективности функционирования основных производственных активов</li>
                            <li>Минимизация риска возникновения аварийных ситуаций</li>
                            <li>Реальное повышение эффективности процессов ТОиР</li>
                            <li>Обеспечение соблюдения регламентов и непрерывный контроль устранения дефектов</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="page">
            <div class="about-us__pages">
                <div class="about-us__title-dop">
                    <h1>Функциональные возможности</h1>
                </div>
                <div class="industies__list">
                    <!-- <h2>Продукты корпорации «Галактика» решают широкий круг задач в нефтегазовой сфере:</h2> -->
                    <ul>
                        <li>• Реестр объектов ремонта</li>
                        <li>• Нормативы</li>
                        <li>• Контроль технического состояния</li>
                        <li>• Промышленная безопасность </li>
                        <li>• Техническое обслуживание и ремонт</li>
                    </ul>
                </div>
                @if (Context.Request.Cookies.ContainsKey("auth_cookie"))
                {
                    <div class="products__info-to-order">
                        Цена: @product.Price руб
                    </div>
                    <div class="add-to_cart-flex">
                        <button class="add-to_cart" onclick="addToCart(@product.IsnNode)">Добавить в корзину</button>
                    </div>
                }
                else
                {
                    <div class="products__info-to-order">
                        Для покупки необходимо зарегистрироваться
                    </div>
                }
            </div>
        </div>
    </div>
</div>
        </div>