@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="content">
    <div class="container">
        <div class="page">
            <div class="page__body">
                <div class="page__column">
                    <div class="page__menu">
                        <div class="page__menu-list">
                            <a href=@Url.Action("Index", "Home")>Главная</a>
                            <a href=@Url.Action("Products", "Products")>Каталог</a>
                            <a href=@Url.Action("AboutUs", "AboutUs")>О нас</a>
                            <a href=@Url.Action("Contacts", "Contacts")>Контакты</a>
                        </div>
                    </div>
                    <div class="about-us__pages">
                        <div class="about-us__title">
                            <h1>«Галактика ERP»</h1>
                        </div>
                        <div class="page__info-text">
                            <div class="page__info-text-p">
                                <p>Интегрированная система управления предприятием «Галактика ERP» обладает широкими функциональными возможностями, отличными интеграционными свойствами и создана с учетом национальной специфики, лучшего бизнес-опыта и передовых методик управления </p>
                                <p>«Галактика ERP» — это гибкий и современный инструмент для решения текущих и стратегических управленческих задач современного предприятия в условиях цифровой экономики.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__erp-bag" id="obor">
        <div class="container">
            <div class="products__title"><h1>Почему «Галактика ERP»</h1></div>
            <div class="products__flex">
                <div class="products__colums">
                    <div class="products__h3">Для руководителя</div>
                    <div class="products__info-list">
                        <ul>
                            <li>Полностью российская разработка, которая учитывает национальную отраслевую специфику и поддержку законодательства РФ</li>
                            <li>Стоимость владения в 3-5 раз ниже, чем у зарубежных систем</li>
                            <li>Высокая производительность и масштабируемость</li>
                            <li>Централизованное сопровождение и развитие системы</li>
                            <li>Отсутствие избыточной функциональности</li>
                            <li>Модульный принцип построения системы – набор взаимосвязанных, но относительно независимых компонентов, которые могут поставляться заказчику в любой удобной для него конфигурации</li>
                        </ul>
                    </div>
                </div>
                <div class="products__colums">
                    <div class="products__h3">Для ИТ-директора</div>
                    <div class="products__info-list">
                        <ul>
                            <li>Единое ядро бизнес-логики со встроенными процессами и набором высокоэффективных инструментов</li>
                            <li>Открытость для интеграции с любым программным обеспечением</li>
                            <li>Встроенный OLAP — удобный инструмент для оперативного формирования отчетов</li>
                            <li>Мощные средства администрирования и конфигурирования системы</li>
                            <li>Концепция компонентной модели, благодаря которой упрощается процесс обновления системы при выходе новых версий</li>
                            <li>Поддержка сервис-ориентированной архитектуры (SOA)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="page">
            <div class="about-us__pages">
                <div class="about-us__title-dop">
                    <h1>Функциональные возможности</h1>
                </div>
                <div class="industies__list">
                    <!-- <h2>Продукты корпорации «Галактика» решают широкий круг задач в нефтегазовой сфере:</h2> -->
                    <ul>
                        <li>• УПРАВЛЕНИЕ ФИНАНСАМИ</li>
                        <li>• БУХГАЛТЕРСКИЙ И НАЛОГОВЫЙ УЧЕТ</li>
                        <li>• УПРАВЛЕНИЕ ЛОГИСТИКОЙ</li>
                        <li>• УПРАВЛЕНИЕ ПРОИЗВОДСТВОМ</li>
                        <li>• УПРАВЛЕНИЕ ПЕРСОНАЛОМ</li>
                    </ul>
                </div>
                <div class="products__info-to-order">
                    Для расчета стоимости необходимой Вам конфигурации обращайтесь по электронному адресу market@galaktika.ru
                </div>
            </div>
        </div>
    </div>
</div>

