@using Galaxy.Storage.Models

@{

    Layout = "~/Views/Shared/Layout.cshtml";
    var product = ViewData["EditProduct"] as Product;
}
<div class="content">
    <div class="container">
        <div class="page">
            <div class="page__body">
                <div class="page__column">
                    <div class="page__menu">
                        <div class="page__menu-list">
                            <a href=@Url.Action("Index", "Home")>Главная</a>
                            <a href=@Url.Action("Products", "Products")>Каталог</a>
                            <a href=@Url.Action("AboutUs", "AboutUs")>О нас</a>
                            <a href=@Url.Action("Contacts", "Contacts")>Контакты</a>
                        </div>
                    </div>
                    <div class="about-us__pages">
                        <div class="about-us__title">
                            <h1>«Галактика MES»</h1>
                        </div>
                        <div class="page__info-text">
                            <div class="page__info-text-p">
                                <p>«Галактика MES» (Manufacturing Execution System) – решение для оперативного управления производством в рамках цеха (участка): планирование операций и работ по рабочим местам (оборудованию) и персоналу, оперативный контроль и сбор данных о выполнении операций и состоянии оборудования, анализ эффективности использования основных производственных ресурсов (оборудования и персонала).</p>
                                <p>«Галактика MES» дополняет сквозную линейку решений корпорации «Галактика» по управлению производством на всех уровнях: производственное объединение – предприятие – цех.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="industies">
    <div class="industies__mes-bag" id="obor">
        <div class="container">
            <div class="products__title"><h1>Преимущества «Галактика EAM»</h1></div>
            <div class="products__flex">
                <div class="products__colums">
                    <div class="products__h3"></div>
                    <div class="products__info-list">
                        <ul>
                            <li>Сквозное решение от одного поставщика по управлению производством на всех уровнях: от холдинга до рабочего места</li>
                            <li>Наличие специализированного интерфейса пользователей системы «Галактика MES» для информационных киосков (терминалов) и планшетов</li>
                            <li>Наличие интерфейса для сбора данных в электронном виде непосредственно с технологического оборудования: систем мониторинга оборудования, промышленных контроллеров, датчиков</li>
                            <li>ПЛегкость встраивания в текущую ИТ-инфраструктуру предприятия путем интеграции с внешней системой управления производством (ERP-системой) верхнего уровня</li>
                        </ul>
                    </div>
                </div>
                <div class="products__colums">
                    <div class="products__h3"></div>
                    <div class="products__info-list">
                        <ul>
                            <li>Интеграция с любыми внешними системами (CAD, PDM, PLM, ERP) через интеграционную шину «Галактика ESB». Готовые модели интеграции для систем корпорации «Галактика» («Галактика ERP», «Галактика AMM»)</li>
                            <li>Возможность локального (автономного) применения системы, без взаимодействия с системам верхнего уровня – для производственных предприятий с небольшой номенклатурой и объемом производственных заказов</li>
                            <li>Большой опыт реализации проектов внедрения автоматизированных систем управления производством на отечественных предприятиях</li>
                            <li>Функциональные и технические возможности системы соответствуют уровню признанных мировых лидеров в отрасли</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="page">
            <div class="about-us__pages">
                <div class="about-us__title-dop">
                    <h1>Функциональные возможности</h1>
                </div>
                <div class="industies__list">
                    <!-- <h2>Продукты корпорации «Галактика» решают широкий круг задач в нефтегазовой сфере:</h2> -->
                    <ul>
                        <li>• Формирование номенклатурных планов производства цехов</li>
                        <li>• Управление ресурсами цеха (персонала, оборудования)</li>
                        <li>• Построение пооперационных производственных расписаний с учетом состояния производственных ресурсов (персонала и оборудования), графиков их работы и доступности (ТО и ремонт оборудования, отсутствие-присутствие персонала и т.д.)</li>
                        <li>• Формирование сменных заданий, выдача заданий исполнителям (сотрудникам) и на рабочие места </li>
                        <li>• Техническое обслуживание и ремонт</li>
                    </ul>
                </div>
                @if (Context.Request.Cookies.ContainsKey("auth_cookie"))
                {
                    <div class="products__info-to-order">
                        Цена: @product.Price руб
                    </div>
                    <div class="add-to_cart-flex">
                        <button class="add-to_cart" onclick="addToCart(@product.IsnNode)">Добавить в корзину</button>
                    </div>
                }
                else
                {
                    <div class="products__info-to-order">
                        Для покупки необходимо зарегистрироваться
                    </div>
                }
            </div>
        </div>
    </div>
</div>
        </div>